
h1 {
    text-align: center;
    color: #fff98a;
    font-weight: normal;
    margin: 100px 0 50px 0;
 }

 .career-start {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }
 
 .pic-left {
    
 }


 .right {
     font-size: 20px;
     margin: auto;
     width: 50%;
     border: 
 }

 #gif {

 }

 p {
     font-family: "roboto", sans-serif;
 }