
/* page background and font color */
body {
    background-color: #795138;
    color: white;
}

header {
    background-color: #fc6325;
    margin: 0%;
}

h1 {
    font-family: 'Ultra', serif;
}

p {
    font-family: 'Roboto', sans-serif;
}


.logo-title {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .5);
    padding: 20px;
}

.nav a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.nav a:hover {
    color:#795138;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer a {
    padding: 20px;
}